body{
background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b80404, #3c0141); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
label{
    font-family: 'Itim', cursive;
    font-size: 22px !important;
    font-weight: bold;
    color:white;
}
.yukseklik{
    height: 100vh;
}

.t{
    text-align: center;
}