body{
background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b80404, #3c0141); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
label{
    font-family: 'Itim', cursive;
    font-size: 22px !important;
    font-weight: bold;
    color:white;
}
.yukseklik{
    height: 100vh;
}

.t{
    text-align: center;
}

.my-element {
    animation: rotateIn; 
    animation-duration: 3s; 
    
}
.my-element2 {
    animation: flipInY; 
    animation-duration: 7s;      
}

.my-element3 {
    animation: bounceInDown; 
    animation-duration: 6s; 
}

.my-element4 {
    animation: bounceInUp; /*yukardan*/
    animation-duration: 4s; 
}
.my-element5 {
    animation: bounceInRight; 
    animation-duration: 6s; 
}