@font-face {
    font-family: 'OriginalSurfer-Regular', cursive;
    src: url('../fonts/OriginalSurfer-Regular.ttf');
}


body{
    background: white;
    color: 3f3f3f;
    font:14px;
    font-family: 'OriginalSurfer-Regular' Arial, Helvetica, sans-serif;


}

h1{
   font-size: 52px;
   letter-spacing: 4px;
   margin-bottom: 20px;

}
.sectionHeader{
    background:#550D16;
    border-bottom: 6px solid #000;
    height: 80px;
    color:white;
    display: inline-block;
    line-height: 80px;
    font-size: 24px;
    padding: 5px 40px;
    letter-spacing: 3px;
    margin-bottom: 20px;


}
h3{
    font-size: 16px;
    color:#500D16;
    font-weight: bold;
    transition: all .5s ease;
}

.sectionArea{
    padding: 80px 0; 
}


.container{

    width: 90%;
    margin: 0 auto;
    display: flex;

}
.featuresBody .container{
    justify-content: space-between;/* resimler arasındaki boşlukları  */
}

.col3{
    flex-grow: 1;   /*sütun yüksekliği eşit olması için*/
    width: 33%;

}

.engineBody .container{
    justify-content: space-between;
}

.col2{
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}

header .logo {

    margin-right: auto;

}

header .logo img{
    display: block;
    height: 70px;
}

.menu li{
    float: left;

}
.menu li a{
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #333;
    transition: all .5s ease;

}



.menu li:hover a{
    background: #500D16;
    color: white;
}

#mainSlider{
    height: 500px;
    background: url('../img/samandag3.jpg') center center no-repeat; /*center : resmi ortadan alacak || no repeat tekrar etmesini engeller*/
    background-size: cover;                                                                   
}

.slider{
    width: 100%;

}

#mainCaption{
    height: 500px;
    background: rgba(0, 0, 0, .7);
}

.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.featuresTop{
    text-align: center;

}
.zoom{
    
    position: relative;/*   */
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;

}
.item{
    padding: 10px 20px;
}
.zoom img{
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;
}

.item .itemText{
    text-align: center;
    padding: 5px;
    border: 1px solid #500D16;
}

.item:hover .zoom img{
    transform: scale(1.25);

}
.item:hover h3 {
    color: white;
}
.item:hover .itemText{
    background: #500D16;
    color: white;
    transition: all .5s ease;

}

.btnDetails{
    color: #500D16;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #500D16;
    transition: all .5s ease;
}

.item:hover .btnDetails{
    color:white;
    border: 1px solid white;

}
.itemText p{
    margin: 20px 0px;
}
.itemText a{
    margin-bottom: 5px;
}

#parallax{
    background: linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    ),
    url('../img/antakya.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
}
#parallax p{
    color: white;
}

.engineTop{
    text-align: center;
}
.engineContainer{
    position: relative;
    width: 100%;
}

.imageOver{
    display: block;
    width: 100%;
    height: auto;

}

.engineOverlay{
    position:absolute;
    bottom: 0;
    left: 1000;
    right: 0;
    background-color: rgba(80, 13, 22, .4);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;

}
.engineContainer:hover .engineOverlay{
    width: 100%;
    left: 0;
}
.engineText{
    font-size: 24px;
    white-space: nowrap;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.engineOverlay2{
    position:absolute;
    bottom: 0;
    left: 100;
    right: 0;
    background-color: rgba(80, 13, 22, .1);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;

}
.engineContainer:hover .engineOverlay2{
    width: 100%;
    left: 0;
}

footer{
    /*width: 90%;
    margin: auto;*/
    background-color: beige;
    text-align: center;
    /*border: 1px solid black;*/
}

.footerItem{
    padding: 20px;
}

.footerItem img{
    height: 100px;
    opacity: 1;
}
.footerItem h3{
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}



.socialLinks img{
    width: 40px;
    height: 40px;
    opacity: .5;
   padding-bottom: 10px;
   transition: .3s ease;
}
.socialLinks img:hover{
    transform: scale(1.5);

}

footer p{
    color: black;
    font-weight: bold;

}
.footerLinks a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s ease;
}

.footerLinks a:hover {
    text-decoration: underline;
    font-size: 20px;

}
.socialLinks li{
    display: inline-block;
    width: 60px;
    height: 60px;
}

#hakkimdaSlider{
    height: 500px;
    background: url('../img/samandag3.jpg') center center no-repeat; /*center : resmi ortadan alacak || no repeat tekrar etmesini engeller*/
    background-size: cover;                                                                   
}

#hakkimdaCaption{
    height: 500px;
    background: rgba(0, 0, 0, .7);

}

#inspect{
    background-color:whitesmoke;
}
.inspectTop{
    text-align: center;

}
.inspectBody .col2{
    display: flex;
}
.inspectImage{
    width: 40%;
}
.inspectImage img{
    width: 100%;
    height: auto;
}
.inspectText{
    width: 60%;
    padding-left: 15px;
}
.date{
    color: #000;
    font-size: 16px;
    font-style: italic;

}
h4{
    color: #500D16;
    font-size: 14px;
    font-weight: bold;
}
.inspectText a{
    float: right;
    text-decoration: none;
    color: #500D16;


}
.inspectText a:hover{
    text-decoration: underline;

}


.projectXTop{
    text-align: center;
}

#projectX .containerFluid{
    height: 400px;
    background: url('../img/samandag4.jpg') center center no-repeat;
    background-size: cover;
}
.captionPX{
    display: flex;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 400px;
}

.projectXInfo{
    margin-left: 5%;
    padding-right: 5%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.projectXTitle{
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.projectBTN{
    background-color: #500D16;
    color: #fff;
    cursor: pointer;
    padding:20px 40px;
    border: none;
    margin-top: 20px;
    transition: all .5s ease;
}
.projectBTN:hover{
    background-color: whitesmoke;
    color: #500D16;

}
.projectXText{
    color: white;
}

.projectXHighlight{
    display: inline-block;
    background-color: #500D16;
    padding: 30px;

}
.containerFluid .col2{
    padding: 0;
}
.projectXDetail{
    color: white;

}

#aboutSlider{
    height: 500px;
    background: url('../img/samandag3.jpg') center center no-repeat; /*center : resmi ortadan alacak || no repeat tekrar etmesini engeller*/
    background-size: cover;                                                                   
}

#aboutCaption{
    height: 500px;
    background: rgba(0, 0, 0, .7);

}

#ourHistory{
    background-color: whitesmoke;

}
.ourHistoryTop{
    text-align: center;

}
.ourHistoryBody .containerFluid{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.ourHistoryBody .col2{
    display: flex;
    
}
.ourHistoryDate{
    flex: 1;
    text-align: center;
    background-color: #500D16;
    color: white;

}
.ourHistoryDate p{
    font-size: 30px;
    letter-spacing: 2px;
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.ourHistoryImage{
    flex:2;
}
.ourHistoryImage img{
    width: 100%;
    height: 100%;
}

.ourHistoryText{
    flex: 3;
    margin-left: 10px;
}
.ourHistoryText p{
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.teamTop{
    text-align: center;

}
.teamBody .containerFluid{
    display: flex;
    width: 100%;
}

.teamMember{
    position: relative;
    width: 100%;

}
.teamMemberImg{
    display: block; /* amaç yükseklik ve genişliği verebilmek*/
    width: 100%;
    height: 100%;
}

.teamMemberOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: #500D16;
    transition: .5s ease;

}
.teamMember:hover .teamMemberOverlay{
    opacity: 0;
}
.teamMember:hover .teamMemberInfo{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.teamTitle{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.teamMemberInfo{
    background-color: rgba(80, 13, 22, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease;
    padding: 20px;
    text-align: center;

}
.memberSocialLinks{
    text-align: center;

}
.memberSocialLinks li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width:960px){
    .caption h1{
        font-size: 32px;
        letter-spacing: 2px;   
    }
    
    .socialLinks img{
        width: 30px;
        height: 30px;
        opacity: .5;
       padding-bottom: 0;
       transition: .3s ease;
    }
    .socialLinks li{
        display: inline-block;
        width: 40px;
        height: 40px;
    }

    .inspectBody .container{
        flex-direction: column;

    }
    .inspectBody .container .col2{
        width: 100%;
    }
    .ourHistoryBody .col2 {
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;

    }


    @media screen and (max-width:720px){

        header .container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        header .logo{
            margin: 0 auto;
        }
        .caption h1{
            font-size: 32px;
            letter-spacing: 2px;   
        }
        .featuresBody .container{
            flex-direction: column;

        }
        .featuresBody .container .col3{
            width: 90%;
            margin: 0 auto;
        }
        .engineBody .container{
            flex-direction: column;

        }
        .engineBody .container .col2{
            width: 80%;
            padding-left: 0;
            padding-right: 0;
            margin: 0 auto;
            
        }
        footer .container{
            flex-direction: column;

        }
        footer .container .col3{
            width: 80%;
        }
        .sectionHeader {
            font-size: 16px;
            padding: 0px 10px;
        }
        .inspectBody .container .col2{
            padding-left: 0;
            padding-right: 0;
        }
        .teamMemberInfo{
            font-size: 10px;
            padding: 10px;

        }
        .teamTitle{
            font-size: 10px;
        }



    }
}
@media screen and (max-width:540px){
    .caption h1{
        font-size: 24px;
        letter-spacing: 1px;   
    }
    .featuresBody .container .col3{
        width: 100%;
        margin: 0 auto;
    }

    .engineBody .container .col2{
        width: 100%;
        
    }
}